.header {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 25vh;

    @media (--tablet) {
        min-height: 40vh;
    }

    @media (--desktop) {
        min-height: 50vh;
    }
}