html {
    font-size: 62.5%;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--dark-color);
}

.title {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1rem;

    color: #fff;

    text-transform: uppercase;

    @media (--tablet) {
        font-size: 8rem;
        letter-spacing: 3rem;
    }

    @media (--desktop) {
        font-size: 10rem;
        letter-spacing: 4rem;
    }
}